.extension {
    display: flex;
    justify-content: center;
    margin-top:10px;
}

.download, .send {
    border:2px solid black;
    padding:5px 20px 5px 20px;
    cursor:pointer;
}

.download {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.send {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}