body {
  margin:0;
  padding:0;
}

nav {
  display:flex;
  justify-content: space-around;
  background: rgb(180, 180, 180);
}

.main_section {
  display:flex;
  justify-content: center;
}

#firstName, #lastName {
  width:30vw;
}

.write_name_section h2 {
  text-align: center;
}

.usernames {
  display:block;
}

.box {
  border:2px solid black;
  display:inline-block;
  width:40vw;
}

.main_box {
  display:flex;
  flex-direction: center;
  margin-left:10vw;
}

