body {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

nav {
  display:flex;
  justify-content: space-around;
  background: rgb(180, 180, 180);
}

.main_section {
  display:flex;
  justify-content: center;
}

#firstName, #lastName {
  width:30vw;
}

.write_name_section h2 {
  text-align: center;
}

.usernames {
  display:block;
}

.main_box {
  margin-left:10vw;
}

.box {
  border:2px solid black;
  display:inline-block;
  width:40vw;
  height: 4.5vh;
  padding-top:2vh;
  padding-bottom:2vh;
}


.add_to_list_box {
  color:rgb(207, 207, 207);
}


